/* ResetPassword.css */

.bodyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .Reseth2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .formlabel {
    margin-bottom: 10px;
    color: #495057;
  }
  
  .Forms {
    margin-bottom: 20px;
  }
  
  .inputsubmit {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a51c30;
    color: #fff;
    cursor: pointer;
  }
  
  .inputsubmit:hover {
    background-color:#a51c30;
  }
  